.time-labels {
    margin-bottom: 20px;
}

#millis {
    font-size: 80px;
}

.material-icons {
    font-size: 80px;
}

#start-btn,
#reset-btn {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

#start-btn i,
#reset-btn i {
  display: block;
}

#start-btn span,
#reset-btn span {
  display: block;
}

@media screen and (max-width: 480px) { 
    #millis {
        font-size: 50px;
    }
}