@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-family: 'Bebas Neue';
    --bg-color: #1B262C;
    --primary-color: #FDCB9E;
    --secondary-color: #00B7C2;
    --terciary-color: #0F4C75;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    text-align: center;
}

h3 {
    margin: 10px;
    font-size: 100px;
}

.timer-box {
    margin: 20px;
    font-size: 200px;
    color: var(--terciary-color);
}

#start-btn, #reset-btn {
    background-color: var(--secondary-color) ;
}